<div class="card">

  <div class="card-body">
    
    <app-page-header page-title="Receitas e despesas diárias" [show-button]="false"></app-page-header>

    <div class="card-deck mt-5 mb-5">
            
      <div class="card text-center text-white bg-success">

        <div class="card-header">
          TOTAL DE RECEITAS
        </div>
        <div class="card-body">
          <h3 class="card-body">
            {{revenueTotal}}
          </h3>
        </div>

      </div>

      <div class="card text-center text-white bg-danger">

        <div class="card-header">
          TOTAL DE DESPESAS
        </div>
        <div class="card-body">
          <h3 class="card-body">
            {{expenseTotal}}
          </h3>
        </div>

      </div>

      <div class="card text-center text-white bg-info">

        <div class="card-header">
          SALDO
        </div>
        <div class="card-body">
          <h3 class="card-body">
            {{balance}}
          </h3>
        </div>

      </div>

    </div>


  </div>

  <hr>

  <div class="row mt-5 mb-4">
    <div class="col-md-6">
      <p-chart type="bar" [data]="revenueChartData" [options]="chartOptions"></p-chart>
    </div>

    <div class="col-md-6">
      <p-chart type="bar" [data]="expenseChartData" [options]="chartOptions"></p-chart>
    </div>
  </div>
